* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background: #1b1b1b;
    font-family: "Abel", sans-serif;
}

p {
    font-family: "Abel", sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.065rem;
}

h1 {
    font-family: "Roboto Mono", sans-serif;
    font-size: 2.85rem;
    letter-spacing: 0.1rem;
    color: #eeb83b;
}

h2 {
    font-family: "Roboto Mono", sans-serif;
    font-size: 1.75rem;
    letter-spacing: 0.1rem;
    color: #eeb83b;
}

.col-md-6 {
    padding: 0;
    margin: 0;
}

hr {
    width: 60px;
    margin: 0 auto;
    background: #eeb83b;
}

/** Nav **/

.navbar {
    height: 8vh;
    background: #1c1c1c;
}

.navbar-nav {
    flex-direction: row;
    justify-content: center;
    background: #eeb83b;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -ms-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px;
}

.navbar-toggler {
    border-color: transparent !important;
}

.navbar-toggler-icon {
    border: 2px solid #eeb83b;
    padding: 14px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.navbar-brand img {
    width: 80px;
    height: 70px;
    z-index: 2;
}

.nav-link {
    font-size: 16px;
    letter-spacing: 0.12rem;
    color: #1b1b1b !important;
}

/** Slider **/

.carousel-container {
    width: 100%;
    height: 92vh;
    overflow: hidden;
    position: relative;
    margin: 40px 0;
}

.carousel-slide {
    display: flex;
    width: 100%;
    height: 92vh;
    margin: 40px 0;
}

.carousel-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    z-index: 10;
    color: #ffff;
    opacity: 0.9;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

#prevBtn {
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    font-size: 20px;
    color: white;
    opacity: 0.7;
    cursor: pointer;
    color: #eeb83b;
}

#nextBtn {
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    font-size: 20px;
    color: white;
    opacity: 0.7;
    cursor: pointer;
    color: #eeb83b;
}

#pauseBtn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    color: white;
    opacity: 0.7;
    cursor: pointer;
    transform: translate(-50%, -50%);
    color: #eeb83b88;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

#pauseBtnContainer {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    left: 50%;
    border: 1px solid rgba(255, 255, 255, 0.555);
    height: 30px;
    width: 55px;
    border-radius: 15%;
    cursor: pointer;
    -webkit-border-radius: 15%;
    -moz-border-radius: 15%;
    -ms-border-radius: 15%;
    -o-border-radius: 15%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

#pauseBtnContainer:hover {
    border-color: #fff;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}

#pauseBtnContainer:hover #pauseBtn {
    color: #eeb83b;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}

/** Booking Section**/

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.booking-wrapper {
    border-radius: 20px;
    border: 1px solid #eeb83b17;
}

/** Map **/

.map-container {
    margin: 40px 0px 15px 0;
}

#mainSectionTitle {
    text-align: center;
    font-family: "Roboto Mono", sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 1.25rem;
    letter-spacing: 2px;
}

#mapBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    text-align: center;
    color: #eeb83b;
}

.mapBox_infos {
    width: 80%;
    list-style-type: none;
    font-family: "Roboto Mono", sans-serif;
    font-size: 0.85rem;
    letter-spacing: 1px;
    color: #eeb83b;
    border-radius: 10px;
    border: 1px solid #eeb83b17;
    padding: 20px 14px;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.mapBox_infos li {
    margin-bottom: 10px;
    margin-top: 10px;
}

#mapid,
#mapid2 {
    min-height: 70vh;
    width: 100%;
    border: 2px solid #eeb83b;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

/** Form **/

.main__input-container,
.main__input-container-child {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.main__input {
    display: inline-block;
    text-align: center;
    font-size: 0.9rem;
    padding: 0.5rem 0;
    border: 0;
    background: transparent;
    border-bottom: solid 1px rgba(255, 255, 255, 0.25);
    color: white;
    font-weight: lighter;
    letter-spacing: 1px;
}

.choose_station {
    font-family: "Roboto Mono", sans-serif;
    font-size: 0.95rem;
    letter-spacing: 0.1rem;
    color: #eeb83b;
    border: 1px solid #eeb83b6b;
    border-radius: 8px;
    padding: 10px 14px;
    text-align: center;
}

.resa_already_done p {
    font-family: "Roboto Mono", sans-serif;
    font-size: 0.95rem;
    letter-spacing: 0.1rem;
    color: #eeb83b;
    padding: 10px 14px;
    text-align: center;
}

#information_fields {
    width: 80%;
    min-height: 50vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
}

#information_fields li {
    font-size: 0.95rem;
    letter-spacing: 1px;
    margin-bottom: 8px;
    color: #eeb83b;
}

#nameLengthWarning {
    font-size: 0.9rem;
    letter-spacing: 1px;
    margin: 1.5rem 0;
    color: #eeb83b;
    text-align: center;
}

#information_fields div {
    margin: 1.2rem 0rem;
}

#arrowYellow {
    display: none;
    width: 10%;
    margin-left: 45%;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.booking_fields {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.btn--shallow {
    font-size: 0.8rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    background: transparent;
    color: white !important;
    border-radius: 3px;
    border: solid 1px #eeb83b;
    padding: 0.6rem 1.4rem;
    cursor: pointer;
}

.btn--booking {
    font-size: 0.8rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    background: transparent;
    color: white !important;
    border-radius: 3px;
    border: solid 1px #eeb83b;
    padding: 0.3rem 1rem;
    margin: 1.2rem 0rem;
    cursor: pointer;
}

/** Canvas **/

#canvas {
    background: #e8e0d8;
    border: 2px solid #eeb83b;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    cursor: crosshair;
}

#canvasDiv {
    margin: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.canvasSignatureWarning {
    font-family: "Roboto Mono", sans-serif;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    color: #eeb83b;
    text-align: center;
    margin-bottom: 18px;
}

.signature_validation_btn {
    margin-top: 22px;
}

.slide,
.btn--booking {
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

.slide:hover,
.btn--booking:hover,
.slide:focus,
.btn--booking:focus {
    box-shadow: inset 25em 0 0 0 #eeb83b;
    color: #000 !important;
    font-weight: bold;
    overflow: hidden;
    outline: none;
}

#resaBtn:hover {
    border: 2px solid #fccb58;
    box-shadow: 0 0 2px rgba(235, 189, 82, 0.705), 0 0 5px rgba(255, 219, 135, 0.986), 0 0 10px rgb(255, 231, 176);
    transition: 0.35s ease;
    -webkit-transition: 0.35s ease;
    -moz-transition: 0.35s ease;
    -ms-transition: 0.35s ease;
    -o-transition: 0.35s ease;
}

/** Timer **/

.timer-container {
    min-height: 20vh;
    font-size: 16px;
    background: #ce9000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text,
.text2,
.text3 {
    color: white;
}

/** Popups Style **/

.leaflet-popup-content p {
    margin: 5px 0px !important;
}

.stations_name {
    color: #6e4e04;
    font-size: 0.85rem;
}

.bike_stands,
.stations_adress {
    font-size: 0.8rem;
}

.stations_status {
    font-size: 1.12rem;
    color: #eeb83b;
}

/** Canvas 2 **/

.canvasClass {
    border: 2px dotted #cccccc;
    border-radius: 15px;
    cursor: crosshair;
    background: #fff;
}

.canvas_box,
.canvas_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn_clear_canvas {
    font-size: 0.75rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    background: transparent;
    color: white !important;
    border-radius: 3px;
    border: solid 1px #fff;
    padding: 0.3rem 1rem;
    margin: 1.2rem 0rem;
    cursor: pointer;
}

.btn_clear_canvas:hover {
    border: solid 1px #eeb83b;
    transition: 0.5s ease-out;
    -webkit-transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
    -ms-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
}

/** Media Queries **/

@media screen and (max-width: 780px) {
    #sig-canvas {
        width: 330px;
        height: 190px;
    }
}
